/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


$border-light-gray: #e0e0e0 solid 1px;
$light-blue: #44a6e4;

body {
  font-family: 'Roboto Condensed', sans-serif;
}

header.header, nav.header {
  line-height: 72px;
  background-color: #364d5f;
  box-shadow: #ccc 0 2px 1px;
  margin-bottom: 16px;
}

.navbar-default {
  background-color: #364d5f;
  box-shadow: #ccc 0 2px 1px;
  margin-bottom: 16px;
  border: none;
  .navbar-toggle,
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: transparent;
    border: none;
    margin: 20px 20px 20 15px;
    .icon-bar {
      background-color: white;
    }
  }
}

.header-logo {
  width: 200px;
  margin-left: 8px;
}

.left-col {
  position: relative;
}

.left-block {
  position: relative;
}

.content {
  padding-left: 0;
}

.middle-header {
  font-size: 24px;
}

.blue-text {
  color: $light-blue;
}

.square-block{
  margin-bottom: 16px;
  .content {
    padding: 16px 0;
    overflow: hidden;
    color: #757575;
    font-size: 14px;
  }
  .inner {
    background: white;
    border-radius: 5px;
    box-shadow: #ccc 0 0 3px;
    padding: 16px;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    h4 {
      color: #424242;
      font-size: 16px;
      margin: 16px 0 16px;
    }
    li {
      color: #757575;
      font-size: inherit;
    }
  }
}

aside {
  li a, li a:hover, li a:active, li a:focus {
    color: #757575;
  }
  li a.active {
    text-decoration: underline;
  }
}

.post-block {
  height: 390px;
  .post-meta {
    p { margin: 0; font-size: 12px; padding-top: 8px;}
  }
  .inner {
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    padding-right: 32px;
    width: 100%;
    font-size: 12px;
    color: #757575;
  }
}

.post-title {
  font-size: 16px;
  max-height: 35px;
  overflow: hidden;
  margin-top: 16px;
  a {
    color: $light-blue;
  }
}

#most-popular {
  li {
    min-height: 65px;
    padding-bottom: 5px;
    overflow: hidden;
    clear: both;
    a {
      display: block;
      margin-right: 70px;
    }
  }
  .img-placeholder {
    width: 65px;
    height: 65px;
    overflow: hidden;
    a {
      display: block;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.truncate {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form {
  width: 100%;
  display: block;
  position: relative;
  margin-left: 15px;
  input {
    height: 42px;
    line-height: 42px;
    border: $border-light-gray;
    border-radius: 3px !important;
  }
  input[type=text] {
    padding: 0 67px 0 10px;
    border-radius: 5px;
    width: 100%;
  }
  .glyphicon-search {
    height: 42px;
    line-height: 42px;
    border: $border-light-gray;
    margin-left: -30px;
    padding: 0;
    margin-top: -4px;
    border: none;
    width: 25px;
    background: transparent;
    font-size: 17px;
    color: #757575;
  }
  .preloader {
    width: 100%;
    height: 10px;
    display: block;
    margin-top: 2px;
    background: url('/images/search-progress.gif') no-repeat center center;
    opacity: 0.7;
  }
  .search-result-list {
    position:absolute;
    background-color: white;
    padding:10px 2px 0 10px;
    margin-top: -3px;
    width: 208px;
    border: $border-light-gray;
    box-shadow: #e2e2e2 0 3px 3px;
    .nano {
       max-height: 200px;
      .nano-pane {width: 3px; opacity: 0.5}
      .nano-pane   { background: #888; }
      .nano-slider { background: #111; }
    }
    .result-list-container {
      overflow: hidden;
    }
    input {
      height: auto;
    }
    h3 {
      width: 100%;
      border-bottom: $border-light-gray;
      color: $light-blue;
      font-size: 16px;
      margin: 10px 0 5px;
    }
    p.truncate {
      width: 170px;
      margin: 0;
    }
    footer {
      ul {margin: 0}
      label {font-size: 12px; line-height: 20px;}
    }
  }
}

.singe-page {
  header {
    h1 {
      margin: 0;
    }
  }
  .post-image {
    max-width: 50%;
  }
  footer {
    padding-top: 16px;
    font-size: 16px;
    p{
      margin: 0;
    }
    a {
      color: #424242;
    }
  }
}
.search-form #search {
    height: 42px;
    line-height: 42px;
    border: $border-light-gray;
    border-radius: 5px !important;
  }
.company-profile {
  .content {
    margin-left:20px !important;
    padding: 0 0 16px 0;
  }
  .company-name {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }
  .image-placeholder {
    border: $border-light-gray;
    border-radius: 4px;
    height: 318px;
    width: 318px;
    text-align: center;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 100%;
      max-height: 100%;
    }
  }
  .profile-buttons {
    padding-top: 16px;
    a {
      display: inline-block; margin-right: 16px
    }
  }
}

.company-articles {
  .article-description {
    color: #424242;
  }
  .img-placeholder {
    display: block;
    height: 110px;
    width: 110px;
    border: $border-light-gray;
    margin-right: 16px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .article-item {
    padding-bottom: 5px;
    overflow: hidden;
    margin-bottom: 16px;
    .count {
      color: #757575
    }
  }
}
.continut{
  
    margin-left:20px !important;
    padding: 0 0 16px 0;
  }
  #imgr{
      float:right;
      padding:10px;
      width:205px;
  }
  .nume{
      margin-top: 15px;
  }
.company-article {
  header {
    h1,h2,h3,h4,h5,h6 {
      margin: 0;
    }
  }
  .post-image {
    max-width: 300px;
    margin: 0 0 10px 10px;
  }
}

.btn-default.btn-blue-solid {
  border-color: $light-blue;
  color: #fff;
  background-color: $light-blue;
  &:hover {
    background-color: $light-blue;
  }
}

.btn-default.blue {
  border-color: $light-blue;
  color: $light-blue;
  &:hover, &:focus, &:active {
    background-color: white;
  }
}

.btn-default.green {
  border-color: #15c25a;
  color: #15c25a;
  &:hover, &:focus, &:active {
    background-color: white;
  }
}

.post-image {
  height: 132px;
  display: block;
  overflow: hidden;
  img {width: 100%}
}

.footer {
  background: #424242;
  height: 50px;
  line-height: 50px;
  margin-top: 32px;
  p {
    color: $light-blue;
    margin: 0;
  }
}

.pagination {
  height: 48px;
  li {
    padding: 0;
    overflow: hidden;
    a {
      display: inline-block;
      line-height: 46px;
      width: 48px;
      text-align: center;
      padding: 0;
    }
  }
  li.active a {
    background-color: $light-blue;
    border-color: $light-blue;
  }
  li.arrow a {
    color: #bdbdbd;
  }
}

@media (min-width: 1040px) {
  .container {
    width: 1040px;
  }
}
